# Default values for itax.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
#replicaCount: 1

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
#image:
replicaCount: 2

image:
  repository: dockerregistry.irddb.gov.np:5000/tp-itaxservice   # private registry URL
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 6288

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

nodeSelector: {}
tolerations: []
affinity: []

# Name of Kubernetes Secret for private registry
imagePullSecrets:
  - registrycreden

# Add ServiceAccount settings
serviceAccount:
  create: true
  name: ""

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: ""
      paths:
        - path: /
          pathType: Prefix
  tls: []


httpRoute:
  enabled: false
  parentRefs: []
  hostnames: []
  rules: []
